<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="icon" href="img/logo.png">
    
    <title>TesiDate</title>
  </head>
  <body>

    <header>
      <div id="imgContHeader">
        <a href="perfil.html">
          <img src="img/20211002_230227.jpg" alt="" id="imgHeader">
        </a>
      </div>
      <div id="tituloHeader">
        <img src="img/logo.png" id="logo">
        <h1>TesiDate</h1>
      </div>
    </header>
    
    <div class="container" id="contInteres">
      <div id="tituloInteres">
        <h1>Personas que te interesan</h1>
      </div>
      
    </div>

    <!-- Nav -->
    <div class="container-sm">
      <div class="row" id="nav">
        <div class="col">
          <a href="principal.html">Inicio</a>
        </div>
        <div class="col">
          <a href="interes.html">Interes</a> 
        </div>
        <div class="col">
          <a href="mensajes.html">Mensajes</a>
        </div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>