<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    
    <title>TesiDate</title>
  </head>
  <body>

    <header>
      <div id="imgContHeader">
        <a href="/perfil">
          <img src="../img/1654479342192.jpg" alt="" id="imgHeader">
        </a>
      </div>
      <div id="tituloHeader">
        <img src="../img/logo.png" id="logo">
        <h1>TesiDate</h1>
      </div>
    </header>
    
    <div class="" id="contPerfil1">
        
      <section id="topPerfil1">
        <div id="contImgPerfil">
          <img src="../img/1654486830575.jpg" alt="" id="imgPerfil">
        </div>
        <div id="descPerfil">
          <h1>Nombre de la persona</h1>
        </div>
      </section>

      <section id="editPerfil">

        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Edad</label>
        <label for="exampleInputEmail1" class="form-control" id="label2">20</label>
        </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Descripción</label>
        <label class="form-control" id="label2">Esta es la parte de la descripcion de la persona, no puedo creer que no hice esto antes de programar el backend</textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Carrera</label>
            <label for="exampleInputEmail1" class="form-control" id="label2">Carrera</label>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Genero</label>
            <label for="exampleInputEmail1" class="form-control" id="label2">Genero</label>
        </div>

        <button class="btn btn-primary" id="btnMensaje">Mandar mensaje</button>

    </section>


    <!-- Nav -->
      <div class="container-sm">
          <div class="row" id="nav">
            <div class="col">
              <a href="/principal">Inicio</a>
            </div>
            <div class="col">
              <a href="/interes">Interes</a> 
            </div>
            <div class="col">
              <a href="/mensajes">Mensajes</a>
            </div>
          </div>
      </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>